doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(hre='http://fonts.googleapis.com/css?family=Raleway:400,300,600')
    link(href='css/normalize.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='css/skeleton.css')
    link(rel='stylesheet', href='css/custom.css')
  body
    block content

  script(src='http://code.jquery.com/jquery.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')